<h1>New message</h1>

<%= turbo_frame_tag "new_message", target: "_top" do %>
  <%= form_with(model: [@message.room, @message],
                data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }) do |form| %>
    <div class="mb-3">
      <%= form.text_field :content, class: "form-control"%>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  <% end %>
<% end %>

<%= link_to 'Back', @message.room %>